@function width($breakpoint) {
  $widths: (
    md: 1024px,
    lg: 1550px,
  );

  @return map-get($widths, $breakpoint);
}

@function break-up($breakpoint) {
  @return 'min-width: #{width($breakpoint)}';
}

@function break-down($breakpoint) {
  @return 'max-width: #{width($breakpoint)}';
}
