// Base colors
$_baseColor_red: #ff0000;
$_baseColor_white: #ffffff;
$_baseColor_smoke: #fbfbfb;
$_baseColor_coal: #282d30;
$_baseColor_black: #000000;

// Semantic colors
$_color_primary: $_baseColor_red;
$_color_secondary: $_baseColor_coal;
$_color_contrasted: $_baseColor_white;

$_color_text_default: $_baseColor_black;
$_color_text_alternative: $_baseColor_coal;
$_color_text_accent: $_baseColor_red;
$_color_text_contrasted: $_baseColor_white;

$_color_background_default: $_baseColor_white;
$_color_background_alternative: $_baseColor_smoke;
$_color_background_primary: $_baseColor_red;
$_color_background_secondary: $_baseColor_coal;
$_color_background_dark: $_baseColor_black;
