@import '../../theme/palette';
@import '../../theme/breakpoints';

.Profile {
  &_hello {
    font-size: 48px;
    margin-bottom: 41px;

    &_firstName {
      color: $_color_text_accent;
    }
  }

  &_dataGrid {
    margin-top: 71px;
    display: flex;
    flex-flow: row wrap;
  }

  &_dataWrapper {
    display: grid;
    grid-gap: 30px;
    width: 100%;
    margin-bottom: 30px;

    @media (break-up(lg)) {
      max-width: 835px;
    }
  }

  &_chartsWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &_chart {
    width: 100%;
    height: 263px;
    border-radius: 5px;
    overflow: hidden;

    &--large {
      height: 320px;
      grid-column: span 3;
    }
  }

  &_keyDataWrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media (break-up(lg)) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      max-width: 258px;
      margin-left: 30px;
    }
  }
}
